{% extends 'app/base.html' %}
{% load static %}

{% block main %}
<section class="vh-100 gradient-custom">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">

                <div class="card bg-dark text-white" style="border-radius:1rem;">
                    <div class="card-body p-5 text-center">

                        <h2 class="fw-bold mb-2 text-uppercase">Reset Password Done</h2>
                        <p class="text-white-50 mb-4">
                            Please check your Email !!!
                        </p>
                        <h3>An Email has been sent with instructions to reset your password<b>Please check Email!</b></b></h3>

                        <!-- Non-field Errors -->
                        {% if form.non_field_errors %}
                            {% for error in form.non_field_errors %}
                                <div class="alert alert-danger">
                                    {{ error }}
                                </div>
                            {% endfor %}
                        {% endif %}

                        

                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
{% endblock %}